<launch>
  <!-- 加载参数 -->
  <rosparam file="$(find avoid_planner_pkg)/config/pcp_test_params.yaml" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_to_base_link"
      args="0.1 0.0 0.3 0 0 0 base_link livox_frame" />

  <!-- 启动 PointcloudProcessor 节点 -->
  <node pkg="avoid_planner_pkg" type="pcp_test_node" name="pcp_test_node" output="screen"/>
</launch>
